<mat-toolbar class="title-toolbar">
  <mat-toolbar-row>
    <span class="title-center">List Of Customers</span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-toolbar>
  <mat-toolbar-row>
    <span>Tutorials</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Tutorials">assignment
    </mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Contribute Article</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Write article">create
    </mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Login or Register">
      how_to_reg
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar> -->